<nav class="admin-nav">
	<ul class="admin-nav-list">
		<li class="admin-nav-item">
			<a href="/admin" class="admin-nav-link {{#activeSettings}}active{{/activeSettings}}">
				<i class="fa-solid fa-gear"></i>
				<span>{{msg.admin_nav_settings}}</span>
			</a>
		</li>
		<li class="admin-nav-item">
			<a href="/admin/whitelist" class="admin-nav-link {{#activeWhitelist}}active{{/activeWhitelist}}">
				<i class="fa-solid fa-list-check"></i>
				<span>{{msg.admin_nav_whitelist}}</span>
			</a>
		</li>
		<li class="admin-nav-item">
			<a href="/admin/users" class="admin-nav-link {{#activeUsers}}active{{/activeUsers}}">
				<i class="fa-solid fa-users"></i>
				<span>{{msg.admin_nav_users}}</span>
			</a>
		</li>
		<li class="admin-nav-item">
			<a href="/admin/monitoring" class="admin-nav-link {{#activeMonitoring}}active{{/activeMonitoring}}">
				<i class="fa-solid fa-chart-line"></i>
				<span>{{msg.admin_nav_monitoring}}</span>
			</a>
		</li>
		{{#patreonFeatureEnabled}}
			<li class="admin-nav-item">
				<a href="/admin/patreon" class="admin-nav-link {{#activePatreon}}active{{/activePatreon}}">
					<i class="fa-brands fa-patreon"></i>
					<span>{{msg.admin_nav_patreon}}</span>
				</a>
			</li>
		{{/patreonFeatureEnabled}}
		{{#emailFeatureEnabled}}
			<li class="admin-nav-item">
				<a href="/admin/email" class="admin-nav-link {{#activeEmail}}active{{/activeEmail}}">
					<i class="fa-solid fa-envelope"></i>
					<span>{{msg.admin_nav_email}}</span>
				</a>
			</li>
		{{/emailFeatureEnabled}}
	</ul>
</nav>
