<!-- Display State: Shows current bio or add button -->
<div class="bio-display" id="bio-display-state">
	{{#bio}}
		<div class="bio-current">
			<div class="bio-preview">
				<div class="about-content">
					{{{bioHtml}}}
				</div>
			</div>
			<div class="bio-actions">
				<button type="button" class="edit-bio-btn" data-on-click="bio-edit">
					<i class="fa-solid fa-pencil"></i>
					{{msg.bio_edit_button}}
				</button>
				<button type="button" class="clear-bio-btn" data-on-click="bio-clear">
					<i class="fa-solid fa-trash"></i>
					{{msg.bio_clear_button}}
				</button>
			</div>
		</div>
	{{/bio}}
	{{^bio}}
		<button type="button" class="add-bio-btn" data-on-click="bio-edit">
			<i class="fa-solid fa-user-pen"></i>
			{{msg.bio_add_button}}
		</button>
	{{/bio}}
</div>
