<!-- Community Navigation -->
<nav class="community-nav">
	<a href="/community/authors"
	   class="community-nav__link{{#authorsActive}} community-nav__link--active{{/authorsActive}}">
		<i class="fa-solid fa-feather-pointed"></i>
		{{msg.community_nav_authors}}
	</a>
	<a href="/community/feed" class="community-nav__link{{#feedActive}} community-nav__link--active{{/feedActive}}">
		<i class="fa-solid fa-scroll"></i>
		{{msg.community_nav_feed}}
	</a>
</nav>
