<div class="dialog-overlay" id="review-dialog-overlay" data-on-click="review-dialog-dismiss">
	<div class="dialog">
		<div class="dialog__header">
			<h3>{{msg.review_link_dialog_title}}</h3>
			<button type="button" class="dialog__close" data-on-click="review-dialog-close">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="dialog__body">
			<p class="review-link-dialog__explain">{{msg.review_link_dialog_body}}</p>
			<div class="review-link-dialog__row">
				<input type="text" class="form-input review-link-dialog__url" id="review-link-url"
					   value="{{reviewUrl}}" readonly data-on-click="review-link-select">
				<button type="button" class="btn btn--primary" id="review-link-copy"
						data-copied-label="{{msg.review_link_dialog_copied}}"
						data-on-click="review-link-copy">
					<i class="fa-solid fa-copy"></i> {{msg.review_link_dialog_copy}}
				</button>
			</div>
		</div>
		<div class="dialog__actions">
			<button type="button" class="btn btn--accent" data-on-click="review-dialog-close">
				{{msg.review_link_dialog_done}}
			</button>
		</div>
	</div>
</div>
