{{#hasInstanceNotice}}
	<div class="instance-band">
		{{#serverMessageHtml}}
			<div class="instance-band__inner">
				<span class="instance-band__label">{{msg.home_servermessage}}</span>
				<div class="instance-band__text">{{{serverMessageHtml}}}</div>
			</div>
		{{/serverMessageHtml}}
		{{#whitelistEnabled}}
			<div class="instance-band__inner instance-band__inner--whitelist">
				<p>{{msg.home_servermessage_whitelist}}</p>
			</div>
		{{/whitelistEnabled}}
	</div>
{{/hasInstanceNotice}}
