[Desktop Entry]
Name=Hammer
Comment=A simple tool for building stories
Exec=hammer
Icon=studio.darkrock.hammer
Terminal=false
Type=Application
Categories=Office;TextEditor;
Keywords=writing;story;novel;editor;
