{{> header}}
<h1>Admin</h1>
<form action="/logout" method="get">
	<button type="submit">Log out</button>
</form>
<p>{{msg.language}}</p>
<p>{{msg.test.test}}</p>
<p>{{message}}</p>
<p>{{isAdmin}}</p>

<div id="result"></div>
{{> footer}}
